@import './reset.css';
@import './common2.css';


/* header 시작 */

/* group-flex1 시작 */
.header .group-flex1{
    position: relative;
    width: 1130px;
    height: 160px;
    margin: 0 auto;
}
.header .logo-area{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo-box a{
    display: block;
}
.header .logo-box a::after{
    content: '';
    display: block;
    width: 222px;
    height: 52px;
    background-position: 0 -158px;
}
.header .search-area{
    position: absolute;
    top: 50%;
    left: 238px;
    margin-top: -28px;
}
.header .search-wrap{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.header .search-wrap .input-text{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}
.header .search-wrap .btn-submit{
    position: absolute;
    top: -2px;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: #19ce60;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}
.header .search-wrap .btn-submit::after{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -420px 0;
    vertical-align: top;
}
.header .service-area{
    position: absolute;
    top: 12px;
    right: 0px;
}
.header .link-start{
    float: left;
    font-size: 11px;
    color: #404040;
}
.header .link-start::after{
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -308px -345px;
    vertical-align: top;
    margin: -3px 0 0 3px;
}
.header .sidebar{
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
}
.header .link-junior{
    float: left;
}
.header .link-bean{
    float: left;
    margin-left: 6px;
}
.header .link-junior::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -262px -330px;
    vertical-align: top;
    margin: 3px;
}
.header .link-bean::after{
    content: '';
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -369px -299px;
    vertical-align: top;
    margin: 3px 3px 2px;
}
.header .link-junior:hover::after{
    background-position: -200px -330px;
}
.header .link-bean:hover::after{
    background-position: -380px -199px;
}
/* group-flex1 끝 */

/* grop-flex2 시작 */
.header .group-flex2{
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.header .group-flex2 .inner{
    width: 1130px;
    margin: 0 auto;
}
.header .group-flex2 .inner::after{
    content: '';
    clear: both;
    display: block;
}
.header .gnb-area{
    float: left;
    padding: 11px 0;
}
.header .gnb-list1{
    float: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #03c75a;
    letter-spacing: -.3px;
}
.header .gnb-list1 .gnb-item{
    float: left;
}
.header .gnb-list1 .gnb-item + .gnb-item{
    margin-left: 12px;
}
.header .gnb-list1 .ic-mail::before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 9px 0 0;
}
.header .gnb-list1 .shop::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-top: 5px;
    background-position: -154px -389px;
    vertical-align: top;
    display: block;
}
.header .gnb-list1 .shoplive::before{
    content: '';
    display: inline-block;
    width: 54px;
    height: 20px;
    margin-top: 5px;
    background-position: -202px -299px;
    vertical-align: top;
    display: block;
}
.header .gnb-list1 .tv::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 14px;
    background-position: -444px -49px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 9px 2px 0 0;
}
.header .gnb-list2{
    float: left;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    letter-spacing: -.3px;
    margin-left: 12px;
}
.header .gnb-list2 .gnb-item{
    float: left;
}
.header .gnb-list2 .gnb-item + .gnb-item{
    margin-left: 12px;
}
.header .btn-more{
    float: left;
    margin-left: 17px;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
    text-align: right;
}
.header .btn-more::after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -444px -339px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-left: 7px;
    vertical-align: 2px;
}
.header .weather-area{
    float: right;
}
.header .weather-wrap{
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    padding: 12px 0 11px;
    font-size: 13px;
    line-height: 29px;
    vertical-align: top;
}
.header .weather-wrap::before{
    content: '';
    display: inline-block;
    float: left;
    width: 29px;
    height: 29px;
    margin-right: 9px;
    vertical-align: top;
    background-image: url(../images/sp-weather-bg.png);
    background-repeat: no-repeat;
    background-size: 215px 185px;
    background-position: 0 -63px;
}
.header .current-box{
    float: left;
}
.header .current-box strong{
    font-weight: bold;
    color: #202020;
}
.header .current-box .current{
    font-size: 15px;
}
.header .current-box .state{
    margin-left: 5px;
}
.header .degree-box{
    float: left;
    margin-left: 9px;
}
.header .degree-box span{
    float: left;
}
.header .degree-box .min{
    color: #2586ee;
}
.header .degree-box .max{
    color: #e9564a;
}
.header .degree-box .max::before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 11px;
    background-position: -444px -392px;
    vertical-align: top;
    margin: 0 3px;
    vertical-align: -1px;
}
.header .location{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 9px;
    font-size: 12px;
    color: grey;
    text-align: right;
}
/* group-flex2 끝 */
/* header 끝 */

/* container 시작 */

.container{
    width: 1130px;
    margin: 0 auto;
    padding: 20px 30px;
    letter-spacing: -.2px;
}
.container::after{
    content: '';
    clear: both;
    display: block;
}
/* container 끝 */

/* footer 시작 */
.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer .group-flex{
    width: 1130px;
    margin: 0 auto;
    padding: 0 30px 92px;
}
.footer .banner-area{
    padding: 24px 0;
    background-color: #fafbfc;
    border-bottom: 1px solid #e4e8eb;
}
.footer .banner-list::after{
    content: '';
    clear: both;
    display: block;
}
.footer .banner-item{
    float: left;
    width: calc((100% - 80px) / 3);
}
.footer .banner-item + li{
    margin-left: 40px;
}
.footer .banner-wrap{
    overflow: hidden;
}
.footer .banner-wrap .thumb{
    float: left;
    width: 160px;
    height: 86px;
}
.footer .banner-wrap .info-box{
    overflow: hidden;
    height: 86px;
    padding: 2px 2px 0 16px;
    font-size: 12px;
    line-height: 1.25;
    box-sizing: border-box;
    text-align: left;
}
.footer .banner-wrap .info-box > *{
    display: block;
}
.footer .banner-wrap .sub-title{
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
.footer .banner-wrap .title{
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
.footer .banner-wrap:hover .title{
    text-decoration: underline;
}
.footer .banner-wrap .desc1,
.footer .banner-wrap .desc2{
    overflow: hidden;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
}
.footer .banner-wrap .desc1{
    margin-top: 8px;
}
.footer .notice-area{
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
}
.footer .notice-area > *{
    font-weight: bold;
}
.footer .notice-area a:hover{
    text-decoration: underline;
}
.footer .notice-area .title{
    float: left;
}
.footer .link-sitemap{
    float: right;
}
.footer .link-sitemap::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -444px -268px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-left: 10px;
    vertical-align: -2px;
}
.footer .aside-area{
    border-bottom: 1px solid #e4e8eb;
}
.footer .aside-area::after{
    content: '';
    clear: both;
    display: block;
}
.footer .aside-area a:hover{
    text-decoration: underline;
}
.footer .aside-left{
    float: left;
    width: 780px;
    padding: 20px 0;
}
.footer .partner-box{
    overflow: hidden;
}
.footer .partner-box + div{
    margin-top: 9px;
}
.footer .partner-box .title{
    float: left;
    font-weight: bold;
    width: 87px;
}
.footer .partner-box a{
    float: left;
    color: #777;
}
.footer .partner-box .bar::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
.footer .aside-right{
    float: right;
    overflow: hidden;
    width: 350px;
    padding: 28px 0;
}
.footer .service-box{
    float: left;
    overflow: hidden;
    max-width: 150px;
}
.footer .service-box + div{
    margin-left: 50px;
}
.footer .service-logo{
    float: right;
    margin-left: 12px;
    width: 48px;
    height: 48px;
}
.footer .service-logo img{
    height: 100%;
}
.footer .service-box .info-box{
    overflow: hidden;
}
.footer .service-box .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    font-weight: bold;
}
.footer .service-box .info-box a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    color: grey;
}
.footer .corp-area{
    padding-top: 25px;
}
.footer .corp-area a:hover{
    text-decoration: underline;
}
.footer .corp-list{
    overflow: hidden;
    float: left;
    margin-right: 13px;
}
.footer .corp-item{
    float: left;
    color: #777;
}
.footer .corp-item + li::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}
.footer .corp-item strong{
    font-weight: bold;
}
.footer .addr{
    float: left;
    font-weight: bold;
}
/* footer 끝 */